.research {
	color: #484848;
	background-color: #fff;
	// font-family: sans-serif, -apple-system;
	font-family: lucida Sans;
	font-size: 1.2em;
	font-weight: 150;
	line-height: 1.5em;
	// width: 70%;
	h1 {
		margin-bottom: 25px;
		margin-top: 6rem;
		font-weight: 400;
		// margin-left: -10rem;
	}

	p {
		font-weight: 300;
		// margin-left: 5rem;
		// font-family: -apple-system;
	}

	a {
		text-decoration: none;
		:hover {
			cursor: pointer;
			text-decoration: underline;
			color: #3c8031;
		}
	}

	span {
		margin-bottom: 30px;
		font-weight: 700;
		font-family: sans-serif;
	}
	.rsh-span {
		font-family: -apple-system;
		p {
			margin-left: 5rem;
		}
	}
}
