.contact {
	color: #484848;
	background-color: #fff;
	// font-family: sans-serif, -apple-system;
	font-family: Lucida Sans;
	font-size: 1.2em;
	font-weight: 150;
	line-height: 1.5em;

	p {
		margin-top: 3rem;
	}
}
// Lucida console
