.footer {
	// position: sticky;
	bottom: 0;
	text-align: center;
	// height: 30px;
	// color: #fff;
	color: #484848;
	// display: flex;
	// justify-content: center;
	width: 100%;
	// height: 60%;
	// margin-top: 57px;
	// background-color: #484848;
	// font-family: sans-serif, -apple-system;
	font-family: lucida Sans;
}

.footer-p {
	padding: 5px;
	margin: 0;
	// bottom: 0;
	// position: relative;
}

.footer-span {
	cursor: pointer;
}

.footer-span:hover {
	color: #3c8031;
}
